.header-main-cont {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 2px 0px rgb(0, 0, 0, 0.3);
    padding: 40px;
    justify-content: space-between;
    font-family: "Tkt";
}

.navigation {
    display: flex;
    align-items: center;
    gap: 30px;
    color: gray;
}

.navigation p, .brand {
    cursor: pointer;
    transition: 0.3s ease;
}

.navigation p:hover {
    color: black;
}