<div class="checkout-comp">
  <div class="inner-checkout">
    <div class="price-count">
      <div class="total">
        <p>Subtotal:</p>
        <p>${{ totalPrice.toFixed(2) }}</p>
      </div>
      <div class="tax">
        <p>Tax:</p>
        <span class="green">+ ${{ tax }}</span>
      </div>
    </div>
    <hr />
    <div class="total-price">
      <p>Total:</p>
      <span class="full-price">${{ getFullPrice().toFixed(2) }}</span>
    </div>
    <button class="finish">
        Checkout
    </button>
  </div>
</div>
