body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
}

.whole-comp {
  font-family: "Tkt";
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.product-list {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 2px 0px rgb(0, 0, 0, 0.3);
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
}

.infomain {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.product-item {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 150px;
}

.product-info h2 {
  width: 150px;
}

.quantities {
  padding: 5px;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  height: 35px;
  width: 100px;
  box-shadow: 0 0 3px 0px #ECEEF1;
}

.remove-prod {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  outline: none;
  cursor: pointer;
  color: red;
  font-weight: 600;
  border: 1px solid rgb(255, 0, 0, 0.3);
}
