<div class="whole-comp">
  <div class="product-list">
    <div *ngFor="let product of products; let i = index" class="product-item">
      <div class="infomain">
        <img
          [src]="product.photo"
          alt="{{ product.name }}"
          class="product-photo"
        />
        <div class="product-info">
          <h2>{{ product.name }}</h2>
          <p>Seller: {{ product.seller }}</p>
          <p>Size: {{ product.size }}</p>
          <p>Price: <b>${{ product.price }}</b> x {{ product.quantity }}</p>
        </div>
      </div>
      <select class="quantities" (change)="updateQuantity(i, $event)">
        <option *ngFor="let qty of [1,2,3,4,5,6,7,8,9,10]" [value]="qty" [selected]="qty === product.quantity">
          Qty: {{ qty }}
        </option>
      </select>
      <button class="remove-prod" (click)="removeProduct(i)">
        Remove
      </button>
    </div>
  </div>
</div>
